spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/order_service
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8082

eureka:
  instance:
    instance-id: order-service:${spring.application.instance-id:${random.value}}

  # PostgreSQL specific properties
  sql:
    init:
      platform: postgresql
  jpa:
    defer-datasource-initialization: true